
body{
    width: 1000px;
    margin: 0 auto;
    background: #333;
}

#content {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    display: table;
}

#side {
    width: 180;
    display: table;

}

div.game-pc {
    margin: 0 auto;
    width: 1180px;
    height: 1170px;
    background-image: url("../image/pc.png");
}

div.game-display {
    padding-top: 80px;
    margin: 0 auto;
    width: 640px;
}
